@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

/*Custom Colors*/
:root {
  --my-red: #F42525;
  --my-lightgrey: #DBDBDB;
  --my-darkgrey: #BFBFBF;
}

/*Custom Font*/
@font-face {
	font-family: League-Spartan;
	src: url("../fonts/LeagueSpartan-Bold.otf");
}

/*All*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*General Font Styles*/

body {
	font-family: League-Spartan, "Montserrat", sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1.0rem;
}

.red-League-Spartan {
	font-family: League-Spartan, "Montserrat", sans-serif;
	color: red;
}

/*Magical Underline*/
/*https://codepen.io/Wking/pen/BdmpVx*/

.underline--magical {
	background-image: linear-gradient(to bottom right, red, orange);
	background-repeat: no-repeat;
	background-size: 100% 0.3em;
	background-position: 0 80%;
	transition: 0.25s;
}

.underline--magical:hover, .underline--magical:active {
	background-size: 100% 88%;
	background-position: 0 0;
	color: white;
}

.grey {
	background-image: linear-gradient(to bottom right, var(--my-darkgrey), black);
}

nav a .grey {
	background-image: linear-gradient(to bottom right, #BFBFBF, #B0B0B0);
}

/*Logo and Menu*/

/*Logo*/

#logo {
	position: fixed;
	top: 2rem;
	left: 2rem;
	z-index: 99;

	width: 100px;
	height: 80px;
	background-image: url("../img/logos/logo-square-outline.svg");
	background-repeat: no-repeat;
	background-position: center;

	transition: transform 0.5s;
}

#logo:hover {
	transform: rotate(-25deg);
}

/*Menu button*/

.menu-button {
	position: fixed;
	top: 2rem;
	right: 2rem;
	z-index: 99;

	width: 4rem;
	height: 4rem;
	background-image: linear-gradient(to bottom right, red, orange);
	box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.50);
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	padding: 20px;
	transition: 0.4s;
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	justify-content: center;
}

.bar1, .bar2, .bar3 {
	width: 100%;
	height: 6px;
	background-color: white;
	transition: 0.4s;
}

.bar1, .bar2 {
	margin-bottom: 6px;
}

.bar2 {
	width: 50%;
}

.menu-button:hover .bar2 {
	width: 100%;
}

.close .bar1 {
  transform: translate(0px, 10px) rotate(-45deg);
}

.close .bar2 {opacity: 0;}

.close .bar3 {
  transform: translate(0px, -10px) rotate(45deg);
}

/*Navigation*/

nav {
	background-image: linear-gradient(to bottom right, red, orange);

	position: fixed;
	top: 0; left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 98;

	opacity: 0;
	visibility: hidden;
	transition: all 0.6s 0.1s ease-in-out;
}

.nav-open {
	opacity: 1;
	visibility: visible;
}

nav a {
	text-decoration: none;
	color: black;
	margin-bottom: 2rem;
	z-index: 2;
}

.nav-bg {
	position: absolute;
	width: 100%;
	min-height: 100vh;
	z-index: 1;
}

.nav-bg img {
	position: absolute;
	height: auto;
	opacity: 0.5;
}

nav .square img {
	width: 60%;

	position: static;
	display: block;
	margin: 0 auto;
	padding: 50vh 0;

	/*transform-style: preserve-3d;*/

	animation: rot-3d 10s linear infinite;  
}

@media (orientation: landscape) {
	nav .square img {
		width: 30%;
	}
}

@keyframes rot-3d {
	0% {
		-webkit-transform: rotateY(0deg) rotateZ(0deg);
		transform: rotateY(0deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateY(360deg) rotateZ(360deg);
		transform: rotateY(360deg) rotateZ(360deg);
	}
}

/*All sections*/

body {
	background-color: black;
	color: white;
}

section {
	width: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*Hi!*/

.Hi-bg {
	min-width: 100vw;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#Hi-bg-top {
	background-image: url("../img/backgrounds/Hi/Hi-bg-top.svg");
	z-index: 1;
	animation: slantdrop 4.5s ease-out infinite;
}

#Hi-bg-1 {
	background-image: url("../img/backgrounds/Hi/Hi-bg-1.svg");
	z-index: -1;
	/*animation: spin 20s linear infinite;*/
}

#Hi-bg-3 {
	background-image: url("../img/backgrounds/Hi/Hi-bg-3.svg");
	z-index: -3;
	animation: spin 30s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@media (orientation: portrait) {
	#Hi-bg-top {
		background-image: url("../img/backgrounds/Hi/Hi-bg-vert-top.svg");
	}

	#Hi-bg-1 {
		background-image: url("../img/backgrounds/Hi/Hi-bg-vert-1.svg");
	}

	#Hi-bg-3 {
		background-image: url("../img/backgrounds/Hi/Hi-bg-vert-3.svg");
	}
}

/*About*/

#About {
	background-image: url("../img/backgrounds/About/circles.svg");
	background-size: contain;
}

@media (orientation: portrait) {
	#About {
		background-image: url("../img/backgrounds/About/circles-vert.svg");
	}
}

#About .section-content {
	z-index: 2;
}

.About-bg {
	position: absolute;
	width: 100%;
	min-height: 100vh;
	z-index: 1;
}

.About-bg img {
	position: absolute;
	height: auto;
}

#About .line-1 img {
	width: 17%;
	height: auto;

	position: absolute;
	left: 27vw;
	top: -15vh;

	animation: slantdrop 3s ease-out infinite;
}

#About .line-2 img {
	width: 35%;
	right: -5vw;
	top: -10vh;

	animation: slantdrop 3s ease-out 0.5s infinite;
}

#About .line-3 img {
	width: 35%;
	right: 7vw;
	top: 10vh;

	animation: slantdrop 3s ease-out 1s infinite;
}

#About .line-4 img {
	width: 45%;
	left: 0vw;
	bottom: 0vh;

	animation: slantdrop 3s linear 1.5s infinite;
}

#About .planet img {
	width: 90%;

	position: static;
	display: block;
	margin: 0 auto;
	padding: 50vh 0;

	transform-style: preserve-3d;

	animation: bounce 4s ease-in-out infinite;  
}

@media (min-width: 1024px), (min-height: 1024px), (orientation: landscape) {
	#About .line-1 img {
		width: 10%;
	}

	#About .line-2 img {
		width: 15%;
		right: 8vw;
		top: 6vh;
	}

	#About .line-3 img {
		width: 15%;
		right: 14vw;
		top: 28vh;
	}

	#About .line-4 img {
		width: 25%;
		left: 5vw;
		bottom: 5vh;
	}

	#About .planet img {
		width: 40%;
	}
}

@keyframes slantdrop {
	0% {
		transform: translate(30px, -30px);
		opacity: 1;
	}
	100% {
		transform: translate(-150px, 150px);
		opacity: 0;
	}
}

@keyframes bounce {
	0% { transform: translate(0px, 0px); }
	50% { transform: translate(0px, 30px); }
	100% { transform: translate(0px, 0px); }
}

/*Contact*/

#Contact .grid {
	border: 1px solid white;
	width: 70vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#Contact .grid .social-links {
	flex: 1 1 50%;

	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	padding: 50px 70px;
}

#Contact .grid .logo {
	background-image: linear-gradient(to bottom right, red, orange);
	flex: 1 1 50%;
}

#Contact .grid .social-links p {
	font-family: League-Spartan, "Montserrat", sans-serif;
	letter-spacing: 1.5;
}

#Contact .grid .social-links a {
	color: white;
	text-decoration: none;
	cursor: url("../img/backgrounds/Nav/square-white.png"), click;
}

#Contact .grid .social-links a:hover, #Contact .grid .social-links a:active {
	/*Gradient Text*/
	background: linear-gradient(to bottom right, red, orange);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*Font sizes for different screen sizes*/

.section-content {
	padding: 30vh 15vw;
}

/*Laptop, iPad*/

@media (min-width: 1024px), (min-height: 1024px) {
	h1 {
		font-size: 9rem;
	}

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2.5rem;
	}

	p {
		font-size: 1.5rem;
	}
}

/*4K screen*/

@media (min-width: 2000px) {
	h1 {
		font-size: 15rem;
	}

	h2 {
		font-size: 6rem;
	}

	h3 {
		font-size: 5rem;
	}

	p {
		font-size: 3rem;
	}
}
