/*Custom Colors*/
:root {
  --my-red: #F42525;
  --my-lightgrey: #DBDBDB;
  --my-darkgrey: #BFBFBF; 
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*Logo, Menu, and Social section*/

.logo-menu-social {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 2rem;
	z-index: 1;
}

.logo-menu-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/*Logo*/

#logo {
	width: 100px;
	height: 80px;
	background-image: url("../img/logos/KTr-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
}

#logo:hover {
	background-image: url("../img/logos/KTr-logo-outline.svg");
}

/*Menu button*/

.menu-button {
	width: 4rem;
	height: 4rem;
	background-color: var(--my-red);
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	padding: 20px;
	transition: 0.4s;
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	justify-content: center;
}

.bar1, .bar2, .bar3 {
	width: 100%;
	height: 6px;
	background-color: white;
	transition: 0.4s;
}

.bar1, .bar2 {
	margin-bottom: 6px;
}

.bar2 {
	width: 50%;
}

.menu-button:hover .bar2 {
	width: 100%;
}

.close .bar1 {
  transform: translate(0px, 10px) rotate(-45deg);
}

.close .bar2 {opacity: 0;}

.close .bar3 {
  transform: translate(0px, -10px) rotate(45deg);
}

/*Social Media Icons*/

.social-media-icons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 80%;
	/*border: 8px solid red;*/
}

@media (max-width: 500px) {
	.social-media-icons {
		visibility: hidden;
	}
}

.social-media-icons a {
	color: var(--my-lightgrey);
	font-size: 2rem;
	margin: 20px;
}

.social-media-icons a:hover {
	color: var(--my-red);
}

/*Hi!*/

.Hi {
	width: 100%;
	min-height: 100vh;
}

.Hi .bg-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/backgrounds/Hi-bg.svg");
	background-size: cover;
	background-position: center;
	z-index: -1; /*make sure image is behind other elements*/
}